body {
  background: linear-gradient(#09c 50%, #fff 50%);
  font-family: sans-serif;
}
.foto {
  width: 200px;
  border-radius: 50%;
  margin-top: 15px;
  box-shadow: 0px 0px 5px 2px #333;
}
h1 {
}
.kotak {
  background-color: white;
  width: 500px;
  padding: 10px;
  box-shadow: 0px 0px 10px 2px #333;
  margin-top: 25px;
}
#konten {
  width: 100%;
  border: none;
  text-align: left;
  font-size: 17px;
  padding-top: 20px;
}
td,th {
  padding: 5px 10px;
  padding-bottom: 20px;
}
.kontak {
  background-color: #09c;
  display: table;
  margin-top: 25px;
  margin-bottom: 100px;
  padding: 5px;
  border-radius: 2px;
  box-shadow: 0px 3px 3px 0px #333;
}
.kontak img {
  width: 50px;
  background-color: white;
  border: 1px solid white;
  margin: 10px;
}